@import url('https://fonts.googleapis.com/css?family=Muli');

body , *{
	font-family: 'Muli', sans-serif;
	font-size: 11px;
	text-align: center;
	padding: 0px;
	margin:0 auto; 
	text-transform:none;
	font-weight: 500;

}
a, a img {
	border:0px;
	text-decoration:none;
}
.no {
	display: none!important;
}

.banner-160 {
	box-sizing:border-box;
	background-image: url("../images/logo-160.png");
	background-position: center top;
	background-repeat: no-repeat;
	height:600px;
	overflow: hidden;
	padding-top:73px;
	position: relative;
	width: 160px;
	background-color:#fff;
    background-size: 115%;
    background-position-y: 20px;
}
.col-160 {
	background-color: #fff;
	float: left;
	height:171px;
	margin-left: 15px;
	overflow: hidden;
	position: relative;
	width: 129px;
	border-bottom:1px solid #fff;
}
.img-160 {
	clear: both;
	height:100px;
	overflow: hidden;
	width: 140px;
}
.img-160 img {
	max-height: 90px;
	margin-top:10px;
	max-width: 140px;
	height:auto;
	width:auto;
}
.title-160 {
	clear: both;
	color: #000;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 130px;
	padding-bottom:3px;
	font-size: 12px;
	height:47px;
	line-height: 18px;
}
.title-160 span {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	height: 35px;
	width: 149px;
	font-size:14px;
	color:#000;
}
.offer-160 {
	color: #d8053a;
	width: 20%;
	text-align:left;
	position:absolute;
	top:2px;
	left:6px;
	font-size:15px;
}
.detail-160 {
	height: 250px;
	width: 158px;
	background-color: rgba(26, 33, 42, .9);
	color: rgba(26, 33, 42, .9);
	position:absolute;
	left:0;
	top:0;
	z-index:999999999!important;
	color:#fff;
	display:none;
}
.col-160:hover .detail-160 {
	display:block;
}
.price-160 {
	font-size: 16px;
	color:#df3600;
	padding:2px 0px 5px 0px;
}
.price-160 span {
	color:#666;
	text-decoration:line-through;
	font-size: 13px;
	display: block;
	height:15px;
}
.btn-160 {
	clear: both;
	color: #fff;
	font-size: 12px;
	max-width: 94px;
	padding: 4px;
	border: 1px solid #693a36;
}



.banner-300 { 
	box-sizing:border-box;
    background-color: #fff;
    background-image: url("../images/logo-160.png");
    background-position: center top;
    background-repeat: no-repeat;
    height:250px;
    overflow: hidden;
    padding:55px 1px 1px 15px;
    position: relative;
    width:300px;
}

.col-300 {
    background-color: #ffffff;
   
    float: left;
    height: 179px;
  
    margin-top: 8px;
    overflow: hidden;
    position: relative;
    width:90px; 
	border-right:1px  solid #fff;


}
.img-300 {
    clear: both;
    height: 104px;
    overflow: hidden;
    padding-top: 8px;
    width: 90px;
}

.img-300 img {
    height: auto;
    max-height: 123px;
    max-width: 87px;
    width: auto;
}
.title-300 {
    clear: both;
    color: #000000;
    font-size: 14px; 
    height: 31px;
    line-height: 17px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 125px; padding-bottom:3px;
	}

.offer-300 {
	color: #d8053a; 
	font-size:14px;
	width: 20%;
	text-align: left;
	position:absolute;
	left:3px;
	top:0px; 
}

.detail-300 {
	height: 200px;
	width: 149px;
	background-color: rgba(26, 33, 42, .9);
	color: rgba(26, 33, 42, .9);
	position:absolute;
	left:0;
	top:0;
	z-index:999999999!important;
	color:#fff;	
	display:none;
}

.col-300:hover .detail-300{
	display:block;
}

.price-300 {
	font-size: 14px; 
	display:block;
	color:#df3600;
	padding:1px 0px 6px 0px
	
}

.price-300 span{ 
	color:#666;
	height:15px;
	display:block;
	text-decoration:line-through;
	font-size: 12px; 
}

.btn-300 {
    
clear: both;
    
color: #fff;
    
font-size:10px;
    
padding: 4px;
    
width: 77px;
    
border: 1px solid #693a36;
    
}



.banner-600 {
	box-sizing:border-box;
	height:600px;
	width: 300px;
	position: relative;
	overflow: hidden; 
	background-image:url(../images/logo-160.png);
    background-color: #fff; 
	background-position: center top;
	background-repeat: no-repeat;
	padding:70px 0px 0px 0px;
}
.col-600 {
    float: left;
    height: 169px;
    margin-bottom: 6px;
    margin-left: 7px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 138px;

}


.img-600 {
    clear: both;
    height:99px;
    overflow: hidden;
    width: 128px; 
	padding-top:5px;
}
.img-600 img {
	max-height:90px;
	max-width: 125px;
	height:auto;
	width:auto;
}


.offer-600 {
	color: #d8053a; 
	font-size:14px;
	width: 20%;
	text-align: left;
	position:absolute;
	left:3px;
	top:0px; 
}



.title-600 {
    clear: both;
    color: #000000;
    font-size: 12px;
    height: 26px;
    line-height: 15px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 125px; padding-bottom:3px;
	}







.price-600 {
	font-size:15px;
	color:#df3600;
	padding:2px 0px;
	
}

.price-600 span{ 
	color:#666;
	text-decoration:line-through;
	font-size: 12px; 
	display:block;
	height:16px; 
}


.btn-600 {

    color: #fff;
    font-size: 12px;
    max-width: 115px;
    padding: 4px;
	clear:both;
	border: 1px solid #693a36;}






.banner-120 {
	box-sizing:border-box;
    background-image: url("../images/logo-160.png");
    background-position: center top;
    background-repeat: no-repeat;
    height:600px;
    overflow: hidden;
    padding-top:65px; 
    position: relative;
    width:120px; 
	background-color:#fff;
    background-size: 115%;
    background-position-y: 20px;
}
.col-120 {
    background-color: #fff;
    float: left;
    height:174px;
    margin-left:12px;
    overflow: hidden;
    position: relative;
    width:94px;
	
	}

  
.img-120 {
    clear: both;
    height:98px;
    overflow: hidden;
    padding-top: 6px;
    width:94px;
}

.img-120 img {
	max-height:91px; 
	padding-top:4px;
	max-width:94px;
	height:auto;
	width:auto;
}

.title-120 {
    clear: both;
    color: #000000;
    font-size: 12px;
    height:54px;
    overflow: hidden;
    text-align: center;
    width: 95px;
	padding-bottom:3px;
	}

.title-120 span {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	height: 38px;
	width: 149px;
	font-size:14px;
	color:#000;
	line-height:14px;
}
.offer-120 {
	color: #d8053a;
	width: 20%;
	text-align:left;
	position:absolute;
	top:0px; 
	left:0px; 
	font-size:11px;
background-color:rgba(255,255,255,.5);
	
}
.detail-120 {
	height: 236px;
	width: 118px;
	background-color: rgba(26, 33, 42, .9);
	color: rgba(26, 33, 42, .9);
	position:absolute;
	left:0;
	top:0;
	z-index:999999999!important;
	color:#fff;	
	display:none;
}
.col-120:hover .detail-120{
	display:block;
}
.price-120 {
	font-size: 14px;
	color:#df3600;
	padding:4px 0px 5px 0px;
	
}



.price-120 span{ 
	color:#666; 
	height:15px;
	text-decoration:line-through;
	font-size: 12px; 
	display:block;
	height:16px; 
}

.btn-120 {
    clear: both;
    color: #fff;
    font-size: 9px;
    max-width: 75px;
    padding: 2px 3px;
	border: 1px solid #693a36;}

.bottam-120{float:left;   width:118px; }








.banner-728 {
	box-sizing:border-box;
	height:90px;
	width:728px;
	position: relative;
	overflow: hidden;
	background-image: url(../images/logo-160.png);
	background-color: #fff;
	background-position: left center;
	background-repeat: no-repeat;
	padding:1px 1px 1px 166px;
	background-size: 27%;
	background-position-x: -14px;
}

.col-728 {
    background-color: #ffffff;
    float: left;
    height: 78px;
    margin: 3px 0px;
    overflow: hidden;
    position: relative;
    width:184px; 
	border-right: 1px solid #fff;
}

.img-728 {
	height:67px;
	width: 85px; 
	overflow:hidden;
	float:left;
	clear:right; 
	padding-top:7px;
}
.img-728 img {
	max-height:65px;
	max-width: 85px;
	height:auto;
	width:auto;
}

.title-728 {
    color: #000000;
    float: right;
    font-size: 15px;
    height: 31px;
    line-height: 17px;
    overflow: hidden;
    text-align: center;
    width: 160px; 
	padding-top:2px;
	padding-bottom:3px;
	margin-right:8px;  
}

.offer-728 {
	color: #d8053a; 
	font-size:14px;
	width: 20%;
	text-align: left;
	position:absolute;
	left:3px;
	top:0px; 
}
.detail-728 {
	height: 88px;
	width: 285px;
	background-color: rgba(26, 33, 42, .9);
	color: rgba(26, 33, 42, .9);
	position:absolute;
	left:0;
	top:0;
	z-index:999999999!important;
	color:#fff;	
	display:none;
}
.col-728:hover .detail-728{
	display:block;
}
.price-728 { 
	display:block;
	 color: #df3600;
    float:left;
    font-size: 14px;
    text-align:center;
    width:94px; 
	padding:11px 0px 4px 0px;

}
.price-728 span{ 
	color:#666; 
	height:11px;
	display:block;
	text-decoration:line-through;
	font-size: 11px; 
}


.btn-728 {
 
    color: #fff;
    float: left;
    font-size: 11px;
    padding: 2px 0;
    width:93px; 
	border: 1px solid #693a36;}




/*---------------------------------------1024---------------------------------------*/


.banner-1024 {
    background-color: #fff;
    background-image: url("../images/logo-160.png");
    background-position: center top;
    background-repeat: no-repeat;
    height: 697px;
    overflow: hidden;
    padding: 63px 1px 1px;
    position: relative;
    width: 1018px; 
	overflow:hidden;
}

.col-1024 {
    background-color: #ffffff;
    border-right: 1px solid #df3600;
    float: left;
    height: 222px;
    margin-left: 5px;
    margin-top: 8px;
    overflow: hidden;
    position: relative;
    width: 197px; 
	border:1px solid #333;
}
.img-1024 {
    clear: both;
    height: 116px;
    overflow: hidden;
    padding-top: 8px;
    width: 142px;
}
.img-1024 img {
	max-height: 116px;
	max-width: 149px;
	height:auto;
	width:auto;
}
.title-1024 {
    clear: both;
    color: #000000;
    font-size: 12px; 
    height: 38px;
    line-height: 21px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 166px;
	padding-bottom:3px;
	}

.offer-1024 {
	color: #FFF;
	width: 100%;
	text-align: center;
	position:absolute;
	bottom:2px;
}

.detail-1024 {
	height: 200px;
	width: 149px;
	background-color: rgba(26, 33, 42, .9);
	color: rgba(26, 33, 42, .9);
	position:absolute;
	left:0;
	top:0;
	z-index:999999999!important;
	color:#fff;	
	display:none;
}

.col-1024:hover .detail-1024{
	display:block;
}

.price-1024 {
	font-size: 14px;
	color:#df3600;
	padding:1px 0px 1px 0px;
min-height: 32px;
	
}

.price-1024 span{ 
	color:#666;
	text-decoration:line-through;
	font-size: 14px; 
}

.btn-1024 {
	 clear: both;
    color: #fff ;
    font-size: 14px;
    padding: 2px;
    width: 159px;
	border: 1px solid #693a36;}



/*---------------------------------------900---------------------------------------*/


.banner-900 {
	height: 85px;
	width: 729px; 
	position: relative;
	overflow: hidden;
	background-image: url(../images/logo-160.png);
	background-color: #fff;
	background-position: left center;
	background-repeat: no-repeat;
	padding:1px 1px 1px 166px;
}

.col-900 {
    background-color: #ffffff;
	border:1px solid #333;
    float: left;
    height: 78px;
    margin: 3px;
    overflow: hidden;
    position: relative;
    width: 139px;
}

.img-900 {
	height: 67px;
	width: 70px; 
	overflow:hidden;
	float:left;
	clear:right; 
	padding-top:7px;
}
.img-900 img {
	max-height: 72px;
	max-width: 65px;
	height:auto;
	width:auto;
}

.title-900 {
    color: #000000;
    float: right;
    font-size: 15px;
    height: 40px;
    line-height: 23px;
    overflow: hidden;
    text-align: center;
    width:50px; 
	padding-top:2px;
	padding-bottom:3px;
	margin-right:8px;  
}

.offer-900 {
	color: #FFF;
	width: 100px;
	text-align: left;
	position:absolute;
	bottom:2px;
	padding-top: 0px;
	padding-bottom: 28px;
	
}
.detail-900 {
	height: 88px;
	width: 285px;
	background-color: rgba(26, 33, 42, .9);
	color: rgba(26, 33, 42, .9);
	position:absolute;
	left:0;
	top:0;
	z-index:999999999!important;
	color:#fff;	
	display:none;
}
.col-900:hover .detail-950{
	display:block;
}
.price-900 {
	 color: #df3600;
    float: left;
    font-size: 12px;
    text-align: center;
    width: 66px; 
	padding-top:3px; 
	overflow:hidden; 
	height:30px;
display: block !important;

}
.price-900 span{ 
	color:#666;
	text-decoration:line-through;
	font-size: 11px;
	height:12px; 
}


.btn-900 {
 
    color: #fff ;
    float: left;
    font-size: 11px;
    padding: 5px 0;
    width:69px; 
	margin-top:3px;  
	border: 1px solid #693a36;}

/*---------------------------------------950---------------------------------------*/


.banner-950 {
	height: 85px;
	width: 779px; 
	position: relative;
	overflow: hidden;
	background-image: url(../images/logo-160.png);
	background-color: #fff;
	background-position: left center;
	background-repeat: no-repeat;
	padding:1px 1px 1px 166px;
}

.col-950 {
    background-color: #ffffff;
	border:1px solid #333;
    float: left;
    height: 78px;
    margin: 3px;
    overflow: hidden;
    position: relative;
    width: 149px;
}

.img-950 {
	height: 67px;
	width:65px; 
	overflow:hidden;
	float:left;
	clear:right; 
	padding-top:7px;
}
.img-950 img {
	max-height: 72px;
	max-width: 65px;
	height:auto;
	width:auto;
}

.title-950 {
    color: #000000;
    float: right;
    font-size: 12px;
    height: 43px;
    line-height: 23px;
    overflow: hidden;
    text-align: center;
    width: 175px; 
	padding-top:2px;
	padding-bottom:3px;
	margin-bottom:3px;  
	margin-right:8px;  
}

.offer-950 {
	color: #FFF;
	width: 100px;
	text-align: left;
	position:absolute;
	bottom:2px;
	padding-top: 0px;
	padding-bottom: 28px;
	
}
.detail-950 {
	height: 88px;
	width: 285px;
	background-color: rgba(26, 33, 42, .9);
	color: rgba(26, 33, 42, .9);
	position:absolute;
	left:0;
	top:0;
	z-index:999999999!important;
	color:#fff;	
	display:none;
}
.col-950:hover .detail-950{
	display:block;
}
.price-950 {
	 color: #df3600;
    float: left; 
	height:30px;
    font-size: 11px;
    text-align: center;
    width:75px; 
	padding-top:3px;

}

.price-950 span{ 
	color:#666;
	text-decoration:line-through;
	font-size: 9px; 
	height:12px;
}


.btn-950 {
 
    color: #fff;
    float: left;
    font-size: 11px;
    padding: 1px 0;
    width: 75px; 
	margin-top:3px;  
	border: 1px solid #693a36;}
/*---------------------------------------980---------------------------------------*/



/*---------------------------------------350---------------------------------------*/


.banner-350 {
	height: 45px;
	width: 215px; 
	position: relative;
	overflow: hidden;
	background-image: url(../images/logo-160.png);
	background-color: #fff;
	background-position: left center;
	background-repeat: no-repeat;
	padding:1px 1px 1px 80px;
}

.col-350 {
    background-color: #ffffff;
	border:1px solid #333;
    float: left;
    height: 43px;
    margin: 1px ;
    overflow: hidden;
    position: relative;
    width:105px;
}

.img-350 {
	height: 37px;
	width: 40px; 
	overflow:hidden;
	float:left;
	clear:right; 
	padding-top:3px;
}
.img-350 img {
	max-height: 40px;
	max-width: 40px;
	height:auto;
	width:auto;
}

.title-350 {
    color: #000000;
    float: right;
    font-size: 11px;
    height: 20px;
    line-height: 23px;
    overflow: hidden;
    text-align: center;
    width: 150px; 
	padding-top:1px;
	padding-bottom:2px;
	margin-right:8px;  
}

.offer-350 { display:none !important;

}
.detail-350 {
	height: 88px;
	width: 285px;
	background-color: rgba(26, 33, 42, .9);
	color: rgba(26, 33, 42, .9);
	position:absolute;
	left:0;
	top:0;
	z-index:999999999!important;
	color:#fff;	
	display:none;
}
.col-350:hover .detail-350{
	display:block;
}
.price-350 {
	 color: #df3600;
    float: left;
    font-size: 10px;
    text-align: center;
    width: 63px; 
	padding-top:0px; 
	overflow:hidden;
display: block !important;

}

.price-350 span{ 
	color:#666;
	text-decoration:line-through;
	font-size: 10px; 
	height:11px;
}


.btn-350 {

 
    color: #fff; 
    float: left;
    font-size: 8px;
    padding: 1px 0;
    width:63px; 
	margin-top:2px;  
}


/*---------------------------------------320---------------------------------------*/


.banner-320 {
	height: 45px;
	width: 235px; 
	position: relative;
	overflow: hidden;
	background-image: url(../images/logo-160.png);
	background-color: #fff;
	background-position: left center;
	background-repeat: no-repeat;
	padding:1px 1px 1px 80px;
    background-size: 38%;
    background-position-x: -20px;
}

.col-320 {
    background-color: #ffffff;
	border:1px solid #333;
    float: left;
    height: 43px;
    margin: 1px ;
    overflow: hidden;
    position: relative;
    width: 115px;
}

.img-320 {
	height: 37px;
	width: 40px; 
	overflow:hidden;
	float:left;
	clear:right; 
	padding-top:3px;
}
.img-320 img {
	max-height: 40px;
	max-width: 40px;
	height:auto;
	width:auto;
}

.title-320 {
    color: #000000;
    float: right;
    font-size: 11px;
    height: 20px;
    line-height: 23px;
    overflow: hidden;
    text-align: center;
    width: 170px; 
	padding-top:1px;
	padding-bottom:2px;
	margin-right:8px;  
}

.offer-320 {  display:none !important;
	
}
.detail-320 {
	height: 88px;
	width: 285px;
	background-color: rgba(26, 33, 42, .9);
	color: rgba(26, 33, 42, .9);
	position:absolute;
	left:0;
	top:0;
	z-index:999999999!important;
	color:#fff;	
	display:none;
}
.col-320:hover .detail-320{
	display:block;
}
.price-320 {
	 color: #df3600;
    float: left;
    font-size: 10px;
    text-align: center;
    width:75px; 
	padding-top:1px; 
	height:26px; 
  display: block !important;

}

.price-320 span{ 
	color:#666;
	text-decoration:line-through;
	font-size: 10px; 
}


.btn-320 {
 
    color: #fff;
    float: left;
    font-size: 8px;
    padding: 1px 0;
    width:75px; 
	margin-top:2px;  
	border: 1px solid #693a36;}






/*---------------------------------------320---------------------------------------*/

.banner-336 {
    background-color: #fff;
    background-image: url("../images/logo-160.png");
    background-position: center top;
    background-repeat: no-repeat;
    height: 225px;
    overflow: hidden;
    padding: 52px 1px 1px;
    position: relative;
    width: 331px;
}

.col-336 {
    background-color: #ffffff;
    border-right: 1px solid #df3600;
    float: left;
    height: 212px;
    margin-left: 5px;
    margin-top: 8px;
    overflow: hidden;
    position: relative;
    width: 158px; 
	 border:1px solid #333;
}
.img-336 {
    clear: both;
    height: 119px;
    overflow: hidden;
    padding-top: 8px;
    width: 142px;
}
.img-336 img {
	max-height:119px;
	max-width: 149px;
	height:auto;
	width:auto;
}
.title-336 {
    clear: both;
    color: #000000;
    font-size: 15px; 
    height: 31px;
    line-height: 17px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 125px; padding-bottom:3px;
	}

.offer-336 {
	color: #FFF;
	width: 100%;
	text-align: center;
	position:absolute;
	top:2px;

}

.detail-336 {
	height: 200px;
	width: 149px;
	background-color: rgba(26, 33, 42, .9);
	color: rgba(26, 33, 42, .9);
	position:absolute;
	left:0;
	top:0;
	z-index:999999999!important;
	color:#fff;	
	display:none;
}

.col-336:hover .detail-336{
	display:block;
}

.price-336 {
	font-size: 14px;
	color:#df3600;
	padding:1px 0px 1px 0px
	
}


.price-336 span{ 
	color:#666;
	text-decoration:line-through;
	font-size: 14px; 
}

.btn-336 {
    
    clear: both;
    color: #fff;
    font-size: 14px;
    padding: 2px;
    width: 119px;
	border: 1px solid #693a36;}



/*---------------------------------------240---------------------------------------*/

.banner-240 {
	box-sizing:border-box;
    background-image:url(../images/logo-160.png);
    background-position: center top;
    background-repeat: no-repeat;
    height: 400px;
    overflow: hidden;
    padding-top: 48px;
    position: relative;
    width: 240px;
	background-color:#fff;
}
.col-240 {
    background-color: #ffffff;
    
    border:1px solid #333;
    float: left;
    height: 169px;
    margin: 3px;
    overflow: hidden;
    position: relative;
    width: 232px;
}

.img-240 {
	height:162px;
	width: 123px; 
	overflow:hidden;
	float:left;
	clear:right; 
	padding-top:7px;
}
.img-240 img {
	max-height: 126px;
	max-width: 110px; 
	margin-top:15px;
	height:auto;
	width:auto;
}

.title-240 {
    color: #000000;
    float: right;
    font-size: 15px;
    height: 90px;
    line-height: 22px;
    overflow: hidden;
    text-align: center;
    width: 100px; 
	padding-top:2px;
	padding-bottom:3px;
	margin-right:8px;  
}

.offer-240 {
	color: #FFF;
	width: 100px;
	text-align: left;
	position:absolute;
	bottom:2px;
	padding-top: 0px;
	padding-bottom: 28px;
	
}
.detail-240 {
	height: 88px;
	width: 285px;
	background-color: rgba(26, 33, 42, .9);
	color: rgba(26, 33, 42, .9);
	position:absolute;
	left:0;
	top:0;
	z-index:999999999!important;
	color:#fff;	
	display:none;
}
.col-240:hover .detail-240{
	display:block;
}
.price-240 {
	color: #df3600;
    float: left;
    font-size: 16px;
    text-align: center;
    width: 100px; 
	margin-top:4px; 
	height:42px;
	}

.price-240 span{ 
	color:#666;
	text-decoration:line-through;
	font-size: 14px; 	
	display:block;
	height:15px;
}

.btn-240 {
 
    color: #fff;
    float: left;
    font-size: 12px;
    padding: 3px 0;
    width: 103px; 
	border: 1px solid #693a36;}
 
  /*---------------------------------------468---------------------------------------*/
 
 .banner-468 {
	 box-sizing:border-box;
	height:60px;
	width:468px; 
	position: relative;
	overflow: hidden;
	background-image: url(../images/logo-160.png);
	background-color: #fff;
	background-position: left center;
	background-repeat: no-repeat;
	padding:1px 1px 1px 112px;
    background-size: 23%;
    background-position-x: 4px;
	
}

.col-468 {
    background-color: #ffffff;
    float: left;
    height: 54px;
    margin-bottom: 3px;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width:176px;
}

.img-468 {
    clear: right;
    float: left;
    height: 53px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 3px;
    width: 62px;
}
.img-468 img {
    height: auto;
    max-height: 51px;
    max-width: 51px;
    width: auto;
}
.title-468 {
    border-bottom-color: #999999;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    color: #000000;
    float: right;
    font-size: 11px;
    height:16px;
    line-height: 23px;
    margin-right: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 2px;
    padding-top: 1px;
    text-align: center;
    width:97px;
}
.offer-468 {
	color: #d8053a; 
	display:none;  
	font-size:11px;
	width: 20%;
	text-align: left;
	position:absolute;
	left:3px;
	top:0px; 
}
.detail-468 {
    background-color: rgba(26, 33, 42, 0.9);
    color: #ffffff;
    display: none;
    height: 88px;
    left: 0;
    position: absolute;
    top: 0;
    width: 285px;
    z-index: 999999999 !important;
}
.col-468:hover .detail-468 {
    display: block;
}
.price-468 {
    color: #434343;
    float: left;

    font-size:11px;
    padding-top:1px;
    text-align: center;
    width: 109px;
	margin-top:4px;
}
.price-468 span {
    color: #666; 
	height:14px; 
	display: block;
    font-size:11px;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: line-through;
    text-decoration-style: solid;
}
.btn-468 {
    border: 1px solid #693a36;color: #ffffff;
    float: right;
    font-size:10px;
    margin-top:1px;
	margin-right:2px;
    padding-bottom: 1px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1px;
    width:95px;
}

 div[class^='title-']{  
}
 



 /*---------------------------------------390---------------------------------------*/

 .banner-390 {
	height:88px;
	width:268px; 
	position: relative;
	overflow: hidden;
	background-image: url(../images/logo-160.png);
	background-color: #fff;
	background-position: left center;
	background-repeat: no-repeat;
	padding:1px 1px 1px 120px;
	
}

.col-390 {
    background-color: #ffffff;
    border:1px solid #333;
    float: left;
    height:87px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 264px;
}

.img-390 {
    clear: right;
    float: left;
    height:85px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 3px;
    width: 62px;
}
.img-390 img {
    height: auto;
    max-height:85px;
    max-width: 51px;
    width: auto;
}
.title-390 {
    border-bottom-color: #999999;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    color: #000000;
    float: right;
    font-size: 13px;
    height:44px;
    line-height: 23px;
    margin-right: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 2px;
    padding-top: 1px;
    text-align: center;
    width:194px;
}
.offer-390 {
    bottom: 2px;
    color: #ffffff;
    padding-bottom: 28px;
    padding-top: 0;
    position: absolute;
    right: 0;
    text-align: left;
    width: 100px;
}
.detail-390 {
    background-color: rgba(26, 33, 42, 0.9);
    color: #ffffff;
    display: none;
    height: 88px;
    left: 0;
    position: absolute;
    top: 0;
    width: 285px;
    z-index: 999999999 !important;
}
.col-390:hover .detail-390 {
    display: block;
}
.price-390 {
    color: #434343;
    float: left;

    font-size: 16px;
    padding-top: 3px;
    text-align: center;
    width: 109px;
}
.price-390 span {
    color: #666;
    font-size: 12px; 
	display:block;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: line-through;
    text-decoration-style: solid;
}
.btn-390 {
    border: 1px solid #693a36;color: #ffffff;
    float: right;
    font-size:14px;
    margin-top:9px;
	margin-right:2px;
    padding-bottom: 1px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1px;
    width: 87px;
}


 /*---------------------------------------120x50---------------------------------------*/

.banner-150 {
  
    background-position: center top;
    background-repeat: no-repeat;
    height:50px;
    overflow:hidden;
    position: relative;
    width: 118px; 
	background-color:#fff; 
	border:1px solid #999;
}
.col-logo {
    background-color: #fff;
    float: left;
    height:50px;
    overflow: hidden;
    position: relative;
    width:120px;
    background-image: url("../images/logo-160.png");
}


.col-images {
  width: 120px;
  height: 100px; 
 
  position: relative;
  animation-duration: 10s; 
  animation-delay:2s;
  animation-name: image;
  top:0px;
}

@keyframes image {
  0% {left:0px; top:0px;}
  25% {left:0px; top:-50px;}  
  100% { left:0px; top:-50px; }
}




.col-product {
    background-color: #fff;
    float: left;
    height:50px;
    overflow: hidden;
    position: relative;
    width:120px;
	animation-duration:12s; 
	animation-delay:8s;
	animation-name: product; 
	
}

@keyframes product {
  0% {left:0px; top:0px;}
  25% {left:0px; top:-100px;}  
  100% { left:0px; top:-100px; }
}


  
.img-150 {
    clear: both;
    height:49px;
    overflow: hidden;
    padding-top:1px;
    width: 120px; 
	background-color:#fff;
}

.img-150 img {
	max-height:50px; 
	max-width: 98px;
	height:auto;
	width:auto;
}

.title-150 {
    clear: both;
    color: #000000;
    font-size: 10px;
    height: 25px;
    overflow: hidden;
    text-align: center;
    width:120px;
	padding-bottom:3px;
	}



.title-150 span {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	height: 38px;
	width: 149px;
	font-size:12px;
	color:#000;
	line-height:14px;
}
.offer-150 {
	color: #FFF;
	width: 80%;
	text-align: center;
	position:absolute;
	bottom:1px;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left:10%;
	left: 123px;
}
.detail-150 {
	height: 236px;
	width: 118px;
	background-color: rgba(26, 33, 42, .9);
	color: rgba(26, 33, 42, .9);
	position:absolute;
	left:0;
	top:0;
	z-index:999999999!important;
	color:#fff;	
	display:none;
}
.col-150:hover .detail-150{
	display:block;
}
.price-150 {
	font-size: 15px;
	color:#df3600;
	padding:1px 0px 2px 0px;
	
}



.price-150 span{ 
	color:#666;
	text-decoration:line-through;
	font-size: 15px; 
	display:block;
	height:16px; 
}

.btn-150 {
    clear: both;
    color: #fff;
    font-size: 11px;
    max-width: 87px;
    padding: 4px 3px;
	border: 1px solid #693a36;}












 @keyframes image-btn {
 0% {
transform: scale(.1);
opacity:0;
}
 50% {
transform: scale(.1);
opacity:0;
}
 100% {
transform: scale(1);
opacity:1;
}
}
.slidewrap240 {
	position:relative;
	width:300px;
	height:250px
}
.slidebutton240 {
	height:29px;
	left:206px;
	position:absolute;
	text-align:right;
	top:40px;
	width:80px;
	z-index:999999999
}
.slidewrap300 {
	position:relative;
	width:300px;
	height:250px
}
.slidebutton300 {
	height:10px;
	left:234px;
	position:absolute;
	text-align:right;
	bottom:212px;
	width:60px;
	z-index:999999999
}
.slidewrap336 {
	position:relative;
	width:300px;
	height:224px
}
.slidebutton336 {
	height:29px;
	left:261px;
	position:absolute;
	text-align:right;
	top:46px;
	width:80px;
	z-index:999999999
}
.slidewrap600 {
	position:relative;
	width:300px;
	height:600px
}
.slidebutton600 {
	height:29px;
	right:-13px;
	position:absolute;
	text-align:right;
	top:46px;
	width:80px;
	z-index:999999999
}
.slidebutton600 img, .slidebutton300 img, .slidebutton160 img, .slidebutton120 img, .slidebutton728 img {
	margin-bottom:2px;
	margin-right:2px;
	opacity:.7
}
.slidebutton600 img:hover, .slidebutton300 img:hover, .slidebutton160 img:hover, .slidebutton120 img:hover, .slidebutton728 img:hover {
	opacity:1
}
.slidewrap160 {
	position:relative;
	width:160px;
	height:600px
}
.slidebutton160 {
	position:absolute;
	right:46px;
	top:586px;
	z-index:99999
}
.slidewrap120 {
	position:relative;
	width:120px;
	height:600px
}
.slidebutton120 {
	position:absolute;
	right:29px;
	top:587px;
	z-index:99999
}
.slidewrap320 {
	position:relative;
	width:320px;
	height:50px
}
.slidebutton320 {
	position:absolute;
	left:16px;
	top:36px;
	z-index:99999
}
.slidebutton320 img.next {
	margin-left:0
}
.slidewrap350 {
	position:relative;
	width:290px;
	height:50px
}
.slidebutton350 {
	position:absolute;
	left:15px;
	top:36px;
	z-index:99999
}
.slidebutton350 img.next {
	margin-left:0
}
.slidewrap390 {
	position:relative;
	width:390px;
	height:90px
}
.slidebutton390 {
	position:absolute;
	left:31px;
	top:74px;
	z-index:99999
}
.slidebutton390 img.next {
	margin-left:0
}
.slidewrap468 {
	position:relative;
	width:468px;
	height:60px
}
.slidebutton468 {
	position:absolute;
	left:32px;
	top:45px;
	z-index:99999
}
.slidebutton468 img.next {
	margin-left:0
}
.slidewrap728 {
	position:relative;
	width:728px;
	height:90px
}
.slidebutton728 {
	position:absolute;
	left:101px;
	top:77px;
	z-index:99999
}
.slidebutton728 img.next {
	margin-left:0
}
.slidewrap900 {
	position:relative;
	width:728px;
	height:90px
}
.slidebutton900 {
	position:absolute;
	left:107px;
	top:71px;
	z-index:99999
}
.slidebutton900 img.next {
	margin-left:0
}
.slidewrap950 {
	position:relative;
	width:728px;
	height:90px
}
.slidebutton950 {
	position:absolute;
	left:107px;
	top:74px;
	z-index:99999
}
.slidebutton950 img.next {
	margin-left:0
}
#d1 {
	opacity:1!important;
	filter:alpha(opacity=100)!important
}
.thumb {
	float:left;
	clear:right;
	padding-top:3px
}
.thumb em {
	margin:0 4px;
	cursor:pointer;
	background-image:url(../images/ic-inactive.png);
	width:7px;
	height:8px;
	display:block;
	float:left;
	clear:right
}
.thumb em:hover, .thumb em.active {
	background-image:url(../images/ic-active.png)
}
div[class^='price-'] span {
	color:#999 !important;
	display:block;
}
div[class^='col-'] {
	background-color:#fff;
	border:none;
}
div[class^='title-'] {
	 
	color:#333 !important;
}
div[class^='banner-'] {
	background-color:#e91e63;
	border:1px solid #000;
}

.logo-300 {
	width:229px;
	height:44px;
	position:absolute;
	top:0px;
	left:1px;
}
.logo-160 {
	width:156px;
	height:50px;
	position:absolute;
	top:0px;
}
.logo-120 {
	width:116px;
	height:32px;
	position:absolute;
	top:0px;
}
.logo-728 {
	width:162px;
	height:73px;
	position:absolute;
	top:0px;
	left:0px;
}
.logo-468 {
	width:108px;
	height:44px;
	position:absolute;
	top:0px;
	left:0px;
}
.logo-320 {
	width:76px;
	height:35px;
	position:absolute;
	top:0px;
	left:2px;
}
.logo-350 {
	width:76px;
	height:35px;
	position:absolute;
	top:0px;
	left:2px;
}
.logo-600 {
	width:298px;
	height:35px;
	position:absolute;
	top:0px;
}
.logo-900 {
	width:162px;
	height:73px;
	position:absolute;
	top:0px;
	left:0px;
}
.logo-950 {
	width:162px;
	height:73px;
	position:absolute;
	top:0px;
	left:0px;
}


div[class^='banner-'] { background-color:#e91e63!important;
 border:1px solid #e91e63!important;;  

}

div[class^='price-'] {
	color:#512a0c !important;
	display:block !important;
}
div[class^='offer-'] {
	background-color:#000 !important;
	color:#fff!important;
	width:36px; 
	display:none; 
}
div[class^='btn-'] {
	color:#fff!important;
	background-color:#e91e63!important; border-radius: 6px;
	border:none;
	text-transform:uppercase;
	letter-spacing:1px;	
}





@keyframes zoom {
 0% {
transform: scale(.1);
-moz-transform: scale(.1);
-webkit-transform: scale(.1);
opacity:0;
}
 50% {
transform: scale(.1);
-moz-transform: scale(.1);
-webkit-transform: scale(.1);
opacity:0;
}
 100% {
transform: scale(1);
-moz-transform: scale(1);
-webkit-transform: scale(1);
opacity:1;
}
}

.active div[class^='img-'], #d1 div[class^='img-'] {
	-webkit-animation: zoom 800ms 0ms;
	animation: zoom 800ms 0ms;
}
.active div[class^='price-'], #d1 div[class^='price-'] {
	-webkit-animation: zoom 1000ms 0ms;
	animation: zoom 1000ms 0ms;
}
.active div[class^='offer-'], #d1 div[class^='offer-'] {
	-webkit-animation: zoom 1000ms 0ms;
	animation: zoom 1000ms 0ms;
}
.active div[class^='btn-'], #d1 div[class^='btn-'] {
	-webkit-animation: zoom 1000ms 0ms;
	animation: zoom 1000ms 0ms;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	color: #000;
}

.dotstyle-drawcircle li a {
	top: 3px;
	left: 3px;
	width: 12px;
	height: 12px;
	background-color: #c44d48;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.dots{
  position: relative;
  display: inline-block;
  margin: 2px;
  padding: 4px;
  list-style: none;
  border-radius:50%;
  cursor: pointer;
  background-color: white
}
  .active{
    a{
       -webkit-transform: scale3d(1.3, 1.3, 1.3);
          transform: scale3d(1.3, 1.3, 1.3);
      
      &:after{
      height: 100%;
      }
    }
  
  .dotstyle:nth-child(4n),
.dotstyle:nth-child(4n-3) {
	background-color: rgba(0, 0, 0, 0.05);
}

