<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/javascript" src="angular.min.js"></script>
<style>
div {
  
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
   
}
</style>
</head>
<body  ng-app="myApp" ng-controller="productcntrl">
<form>

<div>
<table border="1">
	<tr>
		<th>ProgramName</th>
		<th>RegionCode</th>
		<th>NetworkCode</th>
		<th>Template</th>
	</tr>
	<tr ng-repeat="t in table"> 
		<td>{{t.mprogram_code}}</td>
		<td>{{t.mregion_code}}</td>
		<td>{{t.mnetwork_code}}</td>
		<td>{{t.mtemp_id}}</td>
	</tr>
</table>

</div>
</form>
  </body>
   <script type="text/javascript" src="submit.js"></script>
   <script type="text/javascript" src="category.service.js"></script>
  </html>