<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/javascript" src="angular.min.js"></script>
<style>
div {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px; 
}
</style>
</head>
<body  ng-app="myApp" ng-controller="productcntrl" onsubmit="addRow()">

<div>

  <form>
Select Program Name:
  <select ng-model="Program" required >
  <option value="Select" selected >--Select--</option>
    <option ng-repeat="p in bannertemplates.program_Master_Dto" value="{{p.mprogram_code}}">{{p.mprogramname}}</option>  
  </select>
  <br>
  </p></p>
   Select Region Code:
  <select required ng-model="Region" >
  <option value="Select" selected >--Select--</option>
    <option ng-repeat="r in bannertemplates.region_Master_Dto" value="{{r.mregion_code}}">{{r.mregion_code}}</option>  <
  </select>
  <br> 
  <p></p>
  Select Template:
  <select  required ng-model="Template">
  <option value="Select" selected >--Select--</option>
    <option ng-repeat="t in bannertemplates.template_Master_Dto" value="{{t.mtemplate_id}}">{{t.mtemplate_id}}</option>
  </select>
  <br>
   <div class="form-actions">
       <a  href="edit.html" class="btn btn-lg btn-success" type="button" ng-click="change()">Submit</a>
		 <!-- <button ng-click="clicked()">Click me!</button>-->
    </div>
</form>
</div>
</body>
<script type="text/javascript" src="submit.js"></script>
<script type="text/javascript" src="category.service.js"></script>
</html>